.swiper-button-prev {
	color: black;
}

.swiper-button-next {
	color: black;
}

.swiper-pagination-bullet {
	background-color: black;
}

@media (max-width: 768px) {
	.swiper-button-prev {
		color: transparent;
	}

	.swiper-button-next {
		color: transparent;
	}
	.swiper-pagination-bullet {
		background-color: transparent;
	}
}
